body {
	font-family: Arial, sans-serif;
	margin: 0px;
}

::selection {
    color: #85cf0f;
}

/* Header: */
.header {
	background: #FAFAFA;
	padding: 34px 0px;
}

header {
	margin: auto;
	width: 90px;
}

/* Header: Logo: */
.logo {}

.logo:hover {}

.logo_svg {
	transition: transform .9s;
	/* Animation */
	width: 90px;
}

.logo_svg:hover {
	transform: scale(0.8);
}


/* Body: */
.body {
	width: 98%;
	margin: 65px 1%;
	float: left;
}

.page {
	margin: auto;
	width: 762px;
}

main {}

.links {
	float: left;
}

.link_logo {
	float: left;
	text-decoration: none;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 14px;
	width: 158px;
	margin: 0px;
	color: #999999;
	border: 2px solid #ffffff;
	transition: 1.2s;
}

a.link_logo:visited {
	color: #D8D8D8;
}

.link_logo:hover {
	/* display: block; */
	border: 2px solid #85cf0f;
	border-radius: 68px;
}

.link_logo:active {
	border: 2px solid #c4d8a5;
}

.logo:hover {}

.link_logo_svg {
	width: 10px;
	height: 10px;
	background: url(svg/Logos.svg) 0px 0px;
	float: left;
	opacity: 0.3;
	margin-top: 6px;
}

a:hover .link_logo_svg {
	display: block;
	opacity: 1;
	background: url(svg/Logos2.svg) 0px 0px;
}

a:hover .uni {
	color: #999999;
}
.hearth_symbol_svg {
    width: auto;
}
.link {
	text-align: left;
	margin-top: 0px;
	font-size: 19px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 13px;
}

.uni {}

@media screen and (max-width: 900px) {
	.body {
		width: 100%;
		margin: 34px 0px;
		float: left;
	}

	header {
		margin: 0px 0px 0px 14px;
	}

	main {}

	.page {
		max-width: fit-content;
		margin: 0;
		width: 100%;
	}

	.links {
		margin-left: 0px;
		width: 100%;
		padding-bottom: 15px;
		margin: 0px 18px;
	}

	.link_logo {
		float: left;
		margin: 17px 0px 17px 0px;
		width: auto;
		clear: both;
	}

	.category_logo {
		text-align: left;
		margin: 0px 0px 41px 33px;
	}
}

@media screen and (max-width: 448px) {
	header {
		margin: 0px 0px 0px 3px;
	}

	main {}

	.page {
		max-width: fit-content;
	}

	.links {
		margin: 0px 5%;
	}

	.link_logo {}
}


/* Category: */
.category {
	margin: auto;
	width: 300px;
}

.category_logo {
	text-align: center;
	margin: 0px 0px 41px 0px;
}

.category_logo_svg {
	height: 60px;
	opacity: 0.4;
}

.category_logo_svg:hover {
	opacity: 1;
	transition: opacity 1s;
}

.category {
	margin: auto;
	width: 300px;
}

.category_width {
	width: auto;
}

@media screen and (max-width: 900px) {

	.category_logo {
		text-align: left;
		margin: 0px 0px 24px 33px;
	}
}